.App {
  background-image: url('../public/cookie-wall-trees.c260a47c.png');
  background-size: 'cover';
  height: 100vh;
  background-position: 'center';
  z-index: 41;
}

.App-header {
  display: flex;
  z-index: 41;
  transition: border-color .5s ease, opacity .4s ease;
  user-select: none;
}

.App-logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.App-nav {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.App-nav ul {
  list-style-type: none;
  display: flex;
  /* gap: 10px; */
}

.App-nav li {
  cursor: pointer;
}

.App-main {
  left: 27.5em;
  margin: auto;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  max-width: 770px;
  display: flex;
  z-index: 1;
  flex-direction: column;
}

.App-title {
  color: white;
  font-weight: 400;
}

.App-title-2 {
  font-weight: 800;
  font-size: 68px;
  line-height: 72px;
  max-width: 740px;
  font-weight: 400;
  color: white;
  font-family: "Times New Roman", Times, serif;;
}

.App-title-2-long {
  font-weight: 800;
}

.App-p-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 668px;
  padding-bottom: .625em;
  color: white;
}

.App-p-2 {
  font-size: 14px;
  line-height: 1.4;
  max-width: 668px;
  padding-bottom: 24px;
  color: white;
}

.button-group {
  flex-wrap: wrap;
}

.accept-btn {
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #5268ff;
  background-color: #5268ff;
  color: white;
  min-width: 120px;
  font-size: 14px;
  border-radius: .3125rem;
  height: 40px;
  margin-top: 0;
  margin-right: 16px;
  cursor: pointer;
}

.cookies-btn {
  background: transparent;
  color: #fff;
  border-color: #fff;
  margin-right: 16px;

  padding-left: 12px;
  padding-right: 12px;
  min-width: 120px;
  font-size: 14px;
  border-radius: .3125rem;
  height: 40px;
  margin-top: 0;
  cursor: pointer;
}

.accept-btn:hover, .cookies-btn:hover {
  background: #3741d9;
  border-color: #3741d9;
}

.cancel-btn {
  border: none;
  margin-left: -1em;
  text-decoration: underline;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

.cancel-btn:hover {
  color: #3741d9;
}

.nav-items {
  background: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid rgba(23, 24, 26, .11);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav-item-btn {
  cursor: pointer;
  padding: 0 .75rem;
  margin-left: 0;
  font-weight: 500;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  color: #17181a;
  font-size: .875em;
  background: #fff;
  background-clip: padding-box;
  border: none;
  border-right: 1px solid rgba(23, 24, 26, .11);
  transition: opacity .4s ease;
  height: 100%;
}

.nav-item {
  align-items: center;
  display: flex;
  border-right: 1px solid rgba(23, 24, 26, .11);
  flex-grow: 1;
  justify-content: center;
  transition: background-color .2s ease-out;
  min-height: 36px;
}

.nav-item:hover, .nav-item-btn:hover {
  background: #f7f9fa;
}

.lbl {
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: 2.375rem;
  position: relative;
  transition: color .2s ease-out;

  color: #17181a;
  font-weight: 500;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: .875em;
  padding: 0 12px;
  text-decoration: none;
}

.aside {
  height: 25.625em;
  left: 5em;
  margin: -12.8125em 0 0;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1), 0 10px 30px 0 rgba(0, 0, 0, .2);
  background: #fff;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  z-index: 30;
  width: 17.5em;
  transition: transform .5s cubic-bezier(.77,0,.175,1);
}

.div-1 {
  height: 100%;
  border-radius: 10px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  padding: 1.875em;
}

.div-content {
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 400;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-family: Actief Grotesque Normal, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  height: 19.125em;
  overflow: hidden;
  position: static;
}

.terms_logo {
  background: url(../public/core-shape.cde027dc.svg) no-repeat;
  background-size: 100% 100%;
  width: 2.625rem;
  height: 2.625rem;
  background-position: 50%;
}

.terms_intro {
  font: normal 500 2.25rem / 2.5rem Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-weight: 400;
  line-height: 2.125rem;
  font-size: 2rem;
  margin: 1.5rem 0 0;
}

.tc-title-exp {
  font: normal 400 2rem / 2.625rem GT Super WT, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-weight: 900;
  line-height: 2.125rem;
}

.terms_info {
  font: normal 400 1rem / 1.5rem Actief Grotesque, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  text-align: left;
  margin-top: 42px;
  color: #484a4d;
}
.transfer__footer {
  border-top: 1px solid #d4d7d9;
  height: 4.5em;
  padding: 0 1.25em;
  position: relative;
}

.transfer__button {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #5268ff;
  border: 1px solid #5268ff;
  border-radius: 1.25em;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 2.5em;
  outline: 0;
  font-weight: 500;
  font-family: -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-family: Actief Grotesque Medium, -apple-system, \.SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  transition: border-color .2s cubic-bezier(.77,0,.175,1), background-color .2s cubic-bezier(.77,0,.175,1), color .2s cubic-bezier(.77,0,.175,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 9.75em;
}

.Icon-svg {
  transform: rotate(-90deg);
  width: .5rem;
  height: .5rem;
  transition: transform .25s ease-in-out;
  color: #161616;
  flex-shrink: 0;
  margin-left: .375rem;
}

.bottom-text {
  bottom: 3%;
  right: 3%;
  position: fixed;
  color: white;
}